/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --accent-color: rgb(25, 123, 163);
  --main-color: rgb(53, 93, 105);
  --no-accent-color: #b0cac7;
}
