.container {
  background-position: center;
  background-size: cover;
  background-image: url("../../assets/background.jpg");
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-card {
  max-width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--main-color);
}

.register-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.register-buttons {
  display: flex;
  flex-direction: column;
}

.register-login {
  text-decoration: none;
  color: var(--main-color);
}
