<div class="container animate__animated animate__fadeIn">
  <mat-card class="account-card">
    <mat-card-title class="account-card-title"> Account </mat-card-title>

    <mat-card-content>
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Update password">
          <div class="tab">
            <mat-form-field>
              <mat-label>New password</mat-label>
              <input
                matInput
                type="password"
                [formControl]="passwordFormControl"
              />
              <mat-error *ngIf="passwordFormControl.hasError('required')">
                Please enter your password
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Confirm your password</mat-label>
              <input
                matInput
                type="password"
                [formControl]="passwordFormControl"
              />
              <mat-error *ngIf="passwordFormControl.hasError('required')">
                Please confirm your password
              </mat-error>
            </mat-form-field>
            <mat-card-actions class="account-buttons">
              <button mat-button id="account-update-button">Update</button>
              <button mat-button id="account-back-button" (click)="goBack()">
                Back
              </button>
            </mat-card-actions>
          </div>
        </mat-tab>
        <mat-tab label="Personal">
          <div class="tab">
            <p>Email: {{ email }}</p>
            <form class="account-form">
              <mat-form-field>
                <mat-label>First Name</mat-label>
                <input
                  value="{{ firstName }}"
                  matInput
                  [formControl]="firstNameFormControl"
                />
                <mat-error *ngIf="firstNameFormControl.hasError('required')">
                  Please enter your first name
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput [formControl]="lastNameFormControl" />
                <mat-error *ngIf="lastNameFormControl.hasError('required')">
                  Please enter your last name
                </mat-error>
              </mat-form-field>
            </form>
            <mat-card-actions class="account-buttons">
              <button mat-button id="account-update-button">Update</button>
              <button mat-button id="account-back-button" (click)="goBack()">
                Back
              </button>
            </mat-card-actions>
          </div>
        </mat-tab>
        <mat-tab label="Danger Zone">
          <div class="tab">
            <button mat-button color="warn" id="account-delete-button">
              Delete all my data
            </button>
            <button mat-button color="warn" id="account-delete-all-button">
              Delete all my data & my account
            </button>
            <mat-card-actions class="account-buttons">
              <button mat-button id="account-back-button" (click)="goBack()">
                Back
              </button>
            </mat-card-actions>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
