<div class="container animate__animated animate__fadeIn">
  <mat-card class="account-card">
    <mat-card-title class="account-card-title"> Account </mat-card-title>

    <mat-card-content>
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Update password">
          <div class="tab">
            <mat-form-field>
              <mat-label>Current password</mat-label>
              <input
                matInput
                type="password"
                [formControl]="passwordFormControl"
                [(ngModel)]="currentPassword"
              />
              <mat-error *ngIf="passwordFormControl.hasError('required')">
                Please enter your current password
              </mat-error> </mat-form-field
            ><mat-form-field>
              <mat-label>New password</mat-label>
              <input
                matInput
                type="password"
                [formControl]="passwordFormControl"
                [(ngModel)]="newPassword"
              />
              <mat-error *ngIf="passwordFormControl.hasError('required')">
                Please enter your new password
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Confirm your new password</mat-label>
              <input
                matInput
                type="password"
                [formControl]="passwordFormControl"
                [(ngModel)]="confirmNewPassword"
              />
              <mat-error *ngIf="passwordFormControl.hasError('required')">
                Please confirm your password
              </mat-error>
            </mat-form-field>
            <mat-card-actions class="account-buttons">
              <button
                mat-button
                id="account-update-button"
                (click)="updatePassword()"
              >
                Update
              </button>
              <button mat-button id="account-back-button" (click)="goBack()">
                Back
              </button>
            </mat-card-actions>
          </div>
        </mat-tab>
        <mat-tab label="Personal">
          <div class="tab">
            <p>Email: {{ email }}</p>
            <form class="account-form">
              <mat-form-field>
                <mat-label>First Name</mat-label>
                <input
                  value="{{ firstName }}"
                  placeholder="{{ firstName }}"
                  matInput
                  [formControl]="firstNameFormControl"
                  [(ngModel)]="firstName"
                />
                <mat-error *ngIf="firstNameFormControl.hasError('required')">
                  Please enter your first name
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input
                  value="{{ lastName }}"
                  placeholder="{{ lastName }}"
                  matInput
                  [formControl]="lastNameFormControl"
                  [(ngModel)]="lastName"
                />
                <mat-error *ngIf="lastNameFormControl.hasError('required')">
                  Please enter your last name
                </mat-error>
              </mat-form-field>
            </form>
            <mat-card-actions class="account-buttons">
              <button
                mat-button
                id="account-update-button"
                (click)="updateUserData()"
              >
                Update
              </button>
              <button mat-button id="account-back-button" (click)="goBack()">
                Back
              </button>
            </mat-card-actions>
          </div>
        </mat-tab>
        <mat-tab label="Danger Zone">
          <div class="tab">
            <button
              mat-button
              color="warn"
              id="account-delete-button"
              (click)="deleteAllData()"
            >
              Delete all my data
            </button>
            <button
              mat-button
              color="warn"
              id="account-delete-all-button"
              (click)="deleteAccount()"
            >
              Delete all my data & my account
            </button>
            <mat-card-actions class="account-buttons">
              <button mat-button id="account-back-button" (click)="goBack()">
                Back
              </button>
            </mat-card-actions>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
