<div class="container">
  <div class="sidebar">
    <mat-accordion>
      <div *ngFor="let category of categories">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title> {{ category.name }} </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="topics" *ngFor="let topic of category.topics">
            <p (click)="title = topic.name; note = topic.note">
              {{ topic.name }}
            </p>
          </div>
          <button mat-icon-button (click)="addNewTopic()">
            <mat-icon>add</mat-icon>
          </button>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
        </mat-expansion-panel>
      </div>
      <mat-accordion id="global-add">
        <button mat-icon-button (click)="addNewCategory()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-accordion>
    </mat-accordion>
  </div>
  <div class="main">
    <h1 class="header" contenteditable="true">
      <b>{{ title }}</b>
    </h1>
    <div class="note" contenteditable="true">
      {{ note }}
    </div>
  </div>
</div>
