<div class="container animate__animated animate__fadeIn">
  <mat-card class="login-card">
    <mat-card-title class="login-card-title"> Login </mat-card-title>
    <mat-card-content>
      <form class="login-form">
        <mat-form-field style="width: 100%">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            [formControl]="emailFormControl"
            placeholder="hello@ulix.com"
            [(ngModel)]="email"
            name="email"
          />
          <mat-error
            *ngIf="
              emailFormControl.hasError('email') &&
              !emailFormControl.hasError('required')
            "
          >
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Please enter your email
          </mat-error>
        </mat-form-field>
        <mat-form-field style="width: 100%">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            [formControl]="passwordFormControl"
            [(ngModel)]="password"
            name="password"
          />
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Please enter your password
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="login-buttons">
      <button mat-button style="text-transform: uppercase" (click)="login()">
        Login
      </button>
      <a class="login-register" [routerLink]="['/register']"
        >Don't have an account? Create one!
      </a>
    </mat-card-actions>
  </mat-card>
</div>
