<div class="container">
  <div class="auth-container" *ngIf="isAuthenticated; else elseBlock">
    <div class="logo animate__animated animate__flip"></div>
    <div class="avatar" mat-button [matMenuTriggerFor]="menu">Tijana</div>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item id="account-link" [routerLink]="['/account']">
      My Account
    </button>
    <button mat-menu-item id="sign-out-link">Sign out</button>
  </mat-menu>
  <ng-template #elseBlock>
    <div
      class="logo animate__animated animate__flip"
      style="position: absolute;"
    ></div>
  </ng-template>
</div>
