.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
}

.logo {
  background-image: url("../../assets/logo_blue.png");
  background-size: cover;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.avatar {
  border-radius: 100%;
  background-size: cover;
  cursor: pointer;
}
