.auth-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.logo {
  background-image: url("../../assets/logo_blue.png");
  background-size: cover;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.avatar {
  border-radius: 100%;
  background-size: cover;
  cursor: pointer;
}
